*{
    margin: 0;
    padding: 0;    
    text-decoration: none;
}

:root {
     --bc-principal:rgb(216, 216, 216);
     --ct-secondary: #d7d7d7;
     --text-p:#d7d7d7;
     --text-titulo: #ffffff;}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color:#8220a8 ;
}

.header{
    display: flex;
    justify-content: center;
}
.cabecalho__nav {
    display: flex;
    gap: 80px;
   
}

body {
    display:flex ;
    box-sizing: border-box;
    background-color: var(--text-p);
    flex-wrap: nowrap;
    flex-direction: column;
}

.img-logo-a {
    width: 05%;

}

.container {
    width: 100%;
    display: flex;
    background-color:var(--ct-secondary);   
    justify-content:space-between;
    align-items: center;
    
}
.container__left {
    display: flex ;
    width: 60%;
    flex-direction: column;   
    justify-content: space-between;
}
.container__left__textArea{
    padding-bottom: 400px;
    padding-top: 150px;
}

.container__left__textArea__input{ 
    width: 50%;
    margin-bottom: 20%;
    background-color: var(--ct-secondary);
    border: none;
    margin-left: 4%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #8220a8;
    font-size: 24px;
}

.container__left__textArea__input::placeholder {
    color: #8220a8;
    font-size: 1.5rem;
}

.container__left__validation {
    display: flex;
    margin-left: 4.5%;
    margin-bottom: 0.5%;
}

.container__left__buttons {
    display: flex;
    width: 680px;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 3%;
    gap: 30px;
    
}
.container__left__button{
    width: 136px;
    border-radius: 1rem;
    height: 37px;
    background-color:#8220a8;
    color: #ffffff;    
}

.container__left__buttons__decorate {
    width: 328px;
    border-radius: 24px;
    height: 67px;
    background-color:#8220a8;
    color: #ffffff;
    justify-content: center;
}

button:hover {
    background-color: #5d4b85;
    color: white;
}

.container__right {
    width: 40%;
    display: flex;
    flex-direction: column; 
    padding: 5%;   
}

.container__right__result{
    display: flex;
    width: 400px;
    height: 944px;
    border-radius: 24px;
    font-size: 1.5rem;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: var(--text-titulo);
}

.container__right__buttons{
    width: 336px;
    border-radius: 1.25rem;
    height: 67px;
    background-color:#8220a8;
    color: #ffffff;    
}

.container__right__text {
    width: 336px;
    height: 781px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

    .container__right__result__img {
        width: 50%;
        padding-bottom: 150px;
    }


footer {
    display: flex;
    justify-content: center;
    padding: 1%;
}


@media (max-width: 1268px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    .container__left__textArea{
        padding-bottom: 200px;
        padding-top: 50px;
    }

}

@media (max-width: 900px){
    .container{
       justify-content: space-around;
        width: 100%;
        flex-direction: row;
        

    }
    .container__right {
        width: auto;

    }
    
    .container__left {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .container__left__buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.hidden{
    display: none;
}