*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

:root {
     --bc-principal: #979797;
     --ct-secondary: #b4b4b4;
     --text-p: #963be0;
     --text-titulo: #486ccf;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.cabecalho, footer {
    display: flex;
    justify-content: center;


}
.cabecalho__nav {
    display: flex;
    gap: 80px;
   
}



body {
    display:flex ;
    box-sizing: border-box;
    background-color: var(--bc-principal);
    flex-wrap: nowrap;
    flex-direction: column;
}

.img-logo-a {
    width: 05%;

}



.container {
    display: flex;
    flex: 1;
    width: 100%;
    background-color:var(--ct-secondary);   
    justify-content:space-between;
    align-items: center;
    padding: 5%;
}
.container__left {
    width: 60%;
    flex-direction: column;
    /*flex-direction: column;*/

  
   
}

.container__left__textArea__input{ 
    margin-bottom: 25%;
    background-color: #fff;
    border: none;
    margin-left: 4%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-p);
    font-size: 24px;
}
.container__left__textArea__input::placeholder {
    color: var(--text-p);
    font-size: 1.5rem;
}

.container__left__buttons {
    display: flex;
    width: 680px;
    gap: 30px;
    background-color: #050203;

}

.container__left__buttons__decorate {
    width: 328px;
    border-radius: 24px;
    height: 67px;
    background-color:#0A3871;
    color: #ffffff;
    margin-left: 5%;
    justify-content: center;
}


button:hover {
    background-color: #007bff;
    color: white;
}
.container__right {
    width: 40%;
    display: flex;
    justify-content: center;
    
}


.container__right__result{
    display: flex;
    width: 25rem;
    height: 59rem;
    border-radius: 24px;
    background-color: #ffffff;
    font-size: 1.5rem;
    padding: 30px;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.container__right__buttons{
    width: 60%;
    border-radius: 1.25rem;
    height: 67px;
    background-color:#0A3871;
    color: #ffffff;    
}
.container__right__text {
    width: 336px;
    height: 781px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}


footer {
    padding: 3%;
}