*{
    margin: 0;
    padding: 0;    
    text-decoration: none;
}

:root {
     --bc-principal: #ffffff;
     --ct-secondary: #4c1e97;
     --text-p: #ac71e4;
     --text-titulo: #dbcafa;}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color:#dbcafa ;
}

.cabecalho, footer {
    display: flex;
    justify-content: center;
}
.cabecalho__nav {
    display: flex;
    gap: 80px;
   
}

body {
    display:flex ;
    box-sizing: border-box;
    background-color: var(--text-p);
    flex-wrap: nowrap;
    flex-direction: column;
}

.img-logo-a {
    width: 05%;

}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    background-color:var(--ct-secondary);   
    justify-content:space-between;
    align-items: center;
    
}
.container__left {
    width: 60%;
    flex-direction: column;    
}

.container__left__textArea__input{ 
    width: 50%;
    margin-bottom: 25%;
    background-color: var(--ct-secondary);
    border: none;
    margin-left: 4%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-p);
    font-size: 24px;
}

.container__left__textArea__input::placeholder {
    color: var(--text-p);
    font-size: 1.5rem;
}

.container__left__buttons {
    display: flex;
    width: 680px;
    margin-top: 25%;
    margin-bottom: 2%;
    margin-left: 3%;
    gap: 30px;
}

.container__left__buttons__decorate {
    width: 328px;
    border-radius: 24px;
    height: 67px;
    background-color:#8220a8;
    color: #ffffff;
    justify-content: center;
}

button:hover {
    background-color: #007bff;
    color: white;
}

.container__right {
    width: 40%;
    display: flex;
    justify-content: center; 
    padding: 5%;   
}

.container__right__result{
    display: flex;
    width: 25rem;
    height: 59rem;
    border-radius: 24px;
    background-color: #ffffff;
    font-size: 1.5rem;
    padding: 30px;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: var(--text-titulo);
}

.container__right__buttons{
    width: 60%;
    border-radius: 1.25rem;
    height: 67px;
    background-color:#8220a8;
    color: #ffffff;    
}

.container__right__text {
    width: 336px;
    height: 781px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

footer {
    padding: 3%;
}